.address {
	// desctop screen
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}

.address__footer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.address__text {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(16 / 14);
	font-style: normal;

	color: var(--primary-white-color);

	transition: var(--animation-color);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.address__list {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(16 / 14);
	font-style: normal;

	color: var(--address-list-color);

	transition: var(--animation-color);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
