.join {
	margin-right: 93px;
}

.join__title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;

	padding-bottom: 20px;

	color: var(--primary-white-color);
}
