.join {
	text-align: center;
}

.join__title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;

	margin-bottom: 20px;

	color: var(--primary-white-color);
}

// .join {
// 	margin-right: 93px;
// }
