// team section

.mobile-menu-socials {
	display: flex;
	align-items: center;
	// justify-content: center;
	gap: 20px;
}

.mobile-menu-socials__link {
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	letter-spacing: 0.02em;

	color: var(--accent-color);
}
