.mobile-menu-contacts {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 64px;
}

.mobile-menu-contacts__item--header {
	font-weight: 500;
	font-size: 34px;
	line-height: calc(40 / 34);
	letter-spacing: 0.02em;

	color: var(--accent-color);
}

.mobile-menu-contacts__item--tel {
	font-size: 24px;
	line-height: calc(28 / 24);

	color: var(--second-text-color);
}
