.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	border: 1px solid #000000;
	backdrop-filter: blur(1px);

	transition: opacity 150ms linear, visibility 150ms linear;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);

	width: 450px;
	min-height: 609px;
	padding: 40px;

	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: transform 250ms linear, opacity 250ms linear;

	// desctop screen
	@media screen and (min-width: 1200px) {
		width: 528px;
		min-height: 581px;
	}
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translateX(-50%) translateY(-70%);
}

.modal__btn {
	position: absolute;
	top: 8px;
	right: 8px;

	padding: 0;

	width: 30px;
	height: 30px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.modal__btm--close {
	fill: #000000;
}

.modal__btn:focus .modal__btm--close,
.modal__btn:hover .modal__btm--close {
	fill: var(--accent-color);
}

.modal__label {
	display: block;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: calc(30 / 20);
	text-align: center;

	// desctop screen
	@media screen and (min-width: 1200px) {
		line-height: calc(23 / 20);
	}
}

.modal-form-group {
	margin-bottom: 20px;
}

.modal-form-label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	color: var(--second-text-color);
}

.modal-form-wrapper {
	position: relative;
	margin-bottom: 10px;
}

.modal-form-field {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	padding-right: 42px;

	border: 1px solid var(--border-modal-color);
	border-radius: 4px;

	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--animation-base);

	&:hover,
	&:focus {
		outline-color: var(--accent-color);
		color: var(--accent-color);
	}
}

.modal-form-icon {
	position: absolute;
	top: 25%;
	left: 20px;

	transform: translateX(-20%);

	transition: fill var(--animation-base);
}

.modal-form-field:focus + .modal-form-icon {
	fill: var(--accent-color);
}

.modal-form-message {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;

	resize: none;

	border: 1px solid var(--border-modal-color);
	border-radius: 4px;

	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: outline var(--animation-base);

	&:hover,
	&:focus {
		outline-color: var(--accent-color);
		color: var(--accent-color);
	}

	&::placeholder {
		font-family: inherit;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);

		// desctop screen
		@media screen and (min-width: 1200px) {
			font-size: 12px;
			line-height: calc(14 / 12);
		}
	}
}

.modal-form-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;

	min-width: 200px;
	min-height: 50px;

	color: var(--primary-white-color);
	cursor: pointer;

	transition: var(--animation-bcg);

	&:hover,
	&:focus {
		background: var(--btn-hero-accent-color);
	}
}

.modal-form-agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-bottom: 30px;
}

.modal-form-checkbox {
	appearance: none;
	width: 16px;
	height: 15px;

	outline: 2px solid transparent;
	outline-offset: -2px;
	border: 2px solid var(--primary-text-color);
	border-radius: 2px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");

	transition: background-size var(--animation-base), background-color var(--animation-base),
		outline-color var(--animation-base);

	&:checked {
		outline-color: var(--accent-color);
		background-color: var(--accent-color);
		background-size: 11px 8px;
	}
}

.modal-form-agreement-descr {
	font-size: 12px;
	line-height: calc(14 / 12);

	color: var(--second-text-color);

	user-select: none;

	// desctop screen
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: calc(24 / 14);
	}
}

.modal-form-agreement-link {
	color: var(--accent-color);
	text-underline-offset: 3px;
	// /* text-underline-position: under; */
}

.modal-form-btn {
	display: block;
	margin: 0 auto;
}
