.nav {
	display: flex;
	align-items: center;
	gap: 50px;
}

.nav__list {
	display: block;

	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	position: relative;

	transition: var(--animation-color);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.nav__list--curent {
	color: var(--accent-color);

	&::after {
		content: "";

		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--accent-color);
		border-radius: 2px;

		position: absolute;
		bottom: 0;
	}
}
